.topHeader {
  position: absolute;
  width: 100%;
  background-color: rgb(47,63,173);
  top: 0px;
}

.contactInfoHeader {
  color: white;
  font-family: Calibri;

}

.bottomHeader {
  font-family: Calibri;
  position: absolute;
  top: 60px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  
}