.topHeader {
  width: 100%;
  background-color: rgb(47,63,173);
  top: 0px;
}

.contactInfoHeader {
  color: white;
  font-family: Calibri;
  font-weight: bold;
    padding: 1px;
}

.bottomHeader {
  font-family: Calibri;
  top: 60px;
  width: 40%;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
