.topHeader {
  width: 100%;
  background-color: rgb(47,63,173);
  top: 0px;
}

.contactInfoHeader {
  color: white;
  font-family: Calibri;
  font-weight: bold;
    padding: 1px;
}

.bottomHeader {
  font-family: Calibri;
  top: 60px;
  width: 40%;
  margin: auto;
}

body { margin:0; }
